input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.mainImage{
    padding: 20px;
    border: none;
    width: 500px;
    height: 600px;
    margin: auto;
    object-fit: contain;
}
.addButton, .minButton{
    font-size: 22px;
}

.quantity{
    text-align: center;
    border: 1px solid black;
    padding: 10px; 
}

.utils, .form-select{
    color: #dca735;
}
