@import url('https://fonts.googleapis.com/css2?family=Viga&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ms+Madi&display=swap');



.hero-image-wrapper{
    position: relative;
    height: 600px;
}
.hero-image{
    height: 100%;
    aspect-ratio: 2/3;
    object-fit: cover;
    margin: auto;
    z-index: 2;
    border: 5px solid white;
}

.hero-image-wrapper::before{
    content: '';
    display: block;
    position: absolute;
    width: 150px;
    height: 150px;
    top: -5px;
    right: 113px;
    z-index:1;
    border-top: 5px solid brown;
    border-right: 5px solid brown;
    
}
.hero-image-wrapper::after{
    content: '';
    display: block;
    position: absolute;
    width: 150px;
    height: 150px;
    left: 113px;
    bottom: -5px;
    border-left: 5px solid brown;
    border-bottom: 5px solid brown;
    
}


.tagline-1{
    font-size: 70px;
    text-align: start;

}
.tagline-2{
    font-size: 90px;
    color: brown;
    font-family: 'Ms Madi', cursive;

}

.wrapper{
    height: 100vh;
    width: 100%;
    background-color: #e1d4cb;
}

.getStart{
    font-family: 'Viga', sans-serif;
    background-color: #dca735;
    border: 1px solid whitesmoke;
    box-shadow: 3px 3px 5px rgba(0,0,0,.5);
    width: 200px;
    border-radius: 30px;
    padding: 10px 15px;
    color: white;
    text-decoration: none;
}
.getStart:hover{
    color: brown;
    
}
/* End Main */

@media (max-width: 990px) {
    .mainImage {
        height: 500px;
        aspect-ratio: 2/3;
        object-fit: cover;
    }
    .tagline-2{
        font-size: 50px;
        color: brown;
        font-family: 'Ms Madi', cursive;
    
    }
  }