@import url('https://fonts.googleapis.com/css2?family=Viga&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ms+Madi&display=swap');
body::-webkit-scrollbar {
    display: none;
  }

*{
    -ms-overflow-style: none;
    scrollbar-width: none;  
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scrollbar-track-color: none;
    font-family: 'Viga', sans-serif;
}

/* Nav */
.navbar{
    background-color: #e1d4cb;
    font-size: 18px;
}
.brand{
    font-weight: 500;
    letter-spacing: 6px;
}
.nav-link{
    text-decoration: none;
}
.nav-link:hover{
    color: aliceblue;
    border-bottom: 1px solid brown;
}

.actives{
    color: brown;
    border-bottom: 2px solid brown;
}
.dropdown .dropdown-item a{
    color: black;
    text-decoration: none;
    border-bottom: none !important;
}
/* End Nav */

/* BestSeller */

.title-wrapper{
    width: 50%;
}

.bestSeller-card{
    margin-bottom: 20px;
    height: auto;
}
.card-img-top{
    height: 200px;
    aspect-ratio: 1/2;
    object-fit: contain;
}

.bestSeller-description{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    text-align: justify;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-weight: 300;
    color: #ababab;
}
/* End BestSeller */



/* Details */
.image-wrapper{
    margin-top: 20px;
}
.image-wrapper img{
    height: 300px;
    width: 100%;
    object-fit: contain;
    

}

/* End Details */




/* Footer */
footer{
    background-color: #e1d4cb;
}

.copyright-wrapper{
    background-color:rgba(0, 0, 0, 0.2);
}
/* End Footer */


@media (max-width: 990px){
    .bestSeller > h1{
        margin-left: -65px;
    }
    .aboutUs-image{
        display: none;
    }

}