.topModel{
    background-color: #e1d4cb;
}

.topModelTagline-top{
    color: #cba491;
    font-size: 28px;
}
.topModelTagline-right  h3{
    text-align: center;
    font-size: 55px;
    margin-left: 0;
}
.imgModel{
    width: 250px;
    height: 300px;
    display: block;
}


@media screen and (max-width: 992px) {
    .imgModel{
        width: 100px;
        height: 100px;
    }
    .topModelTagline-right  h3{
        text-align: start;
        font-size: 2rem;
    }
    .topModelTagline-top{
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 768px) {
    .imgModel{
        width: 80px;
        height: 80px;
    }
  }